@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*:not(head, table, tbody, tfoot, thead, tr, td, th, script, p, a, span, code),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%;
}

body {
  flex: 1 0;
  font-size: 1.6rem;
  background: linear-gradient(20deg, var(--black), var(--dark-green));
  background-attachment: fixed;
}

html,
body {
  overflow: auto;
}

*[class*=adaptive-img] {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

body {
  font-size: 1.8rem;
  font-family: "Fira Sans", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 24px;
  max-width: 1400px;
}

.row {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3,
h4 {
  font-family: "Audiowide", sans-serif;
}

a {
  text-decoration: none;
  color: var(--turquoise);
  transition: text-shadow 0.2s ease-out;
}

a:hover {
  color: white;
  text-shadow: 0 0 0.5em var(--turquoise);
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #DAEDE9;
  --black: black;
  --dark-green: #074d50;
  --turquoise: #14E7C6;
  --green: #1D635C;
}

::selection {
  background-color: #f09;
  color: #fff;
}

.header {
  align-items: center;
  justify-content: center;
}

.title {
  align-items: center;
  justify-content: center;
  background: url(../images/moon.svg) center center no-repeat;
  background-size: auto 100%;
  padding: 4em 0;
}
.title h1 {
  color: #fff;
  text-shadow: 0 0 1rem #7ed4d4, 0 0 1rem #7ed4d4;
  font-size: 8.375em;
  letter-spacing: 0.11em;
  text-align: center;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.title span {
  font-weight: 300;
  color: var(--turquoise);
  font-size: 2.3em;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 0.34em;
}

.empty {
  min-width: 302.3px;
}

.astronaut {
  margin: 0 calc(1em + 5vw) 2.5em;
  position: relative;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 50em;
  transform: all 1s;
  animation: all 1s ease-out;
}

.intro {
  max-width: 80%;
  color: var(--text-color);
  text-align: center;
  line-height: 1.5;
  font-size: 2.2rem;
  margin: 0 0 11px;
}
.intro a {
  margin: 0;
  padding: 0;
  border: 0;
}
.intro p {
  margin: 20px 0 0;
}

@media (max-width: 735px) {
  .title {
    max-width: 33%;
    padding: 1em 0;
    background-size: auto 100%;
  }
  .title h1 {
    font-size: 100px;
  }
  .title span {
    font-size: 20px;
  }

  .intro {
    font-size: 1em;
  }
}
@media (max-width: 591px) {
  .title {
    max-width: 33%;
    padding: 1em 0;
    background-size: auto 100%;
  }
  .title h1 {
    font-size: 60px;
  }
  .title span {
    font-size: 10px;
  }

  .intro {
    font-size: 1em;
  }
}
@media (max-width: 300px) {
  .title {
    max-width: 33%;
    padding: 1em 0;
    background-size: auto 100%;
  }
  .title h1 {
    font-size: 60px;
  }
  .title span {
    font-size: 8px;
  }

  .intro {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 46em) {
  .astronaut {
    background: url(../images/cable.svg) left top 3.5em no-repeat;
    background-size: calc(100% - 3em) 3.5em;
    width: 8em;
    height: 12.58em;
    flex-grow: 1;
    will-change: transform;
    transform-origin: left center;
    animation: float 24s ease-in-out infinite;
    z-index: 2;
  }

  .astronaut:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10em;
    height: 100%;
    animation: rotate 8s ease-in-out alternate infinite;
    background: url(../images/astronaut.svg) right center no-repeat;
    background-size: 100% auto;
  }
}
.footer {
  min-height: 300px;
  background: url(../images/moon-surface.svg) center bottom no-repeat;
  background-size: 117.5em 11.875em;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #FFF;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 0;
  position: sticky;
  margin: 6em -1.5em -1.5em;
  perspective: 50em;
}

.footer:before {
  content: "";
  position: absolute;
  width: 17.8125em;
  height: 18em;
  background: url(../images/astronaut-side-view.svg);
  left: 50%;
  bottom: 3em;
  transform: translateX(-8em);
}

.company-link {
  border: 1px solid var(--turquoise);
  font-size: 1rem;
  display: block;
  margin: 0 auto auto;
  padding: 1em;
  width: 14em;
  color: var(--green);
  text-decoration: none;
  background: black;
  position: relative;
  box-sizing: border-box;
}

.company-link svg {
  transition: all 0.3s ease-out;
}

aside {
  height: calc(100vh - 3em);
  position: sticky;
  top: 1.5em;
  overflow: auto;
  padding: 1.5em 1.5em 0;
  flex-basis: 16em;
  flex-shrink: 0;
  border: 1px solid var(--green);
  margin: 0 1.5em;
}
aside h3 a {
  color: var(--text-color);
  font-family: "Fira Sans";
  font-size: 15px;
  margin: 0 0 3.75px;
  padding: 4px 0;
}
aside ul {
  margin: 0 0 28px;
}
aside ul li a {
  color: var(--turquoise);
  font-size: 14px;
  margin: 0 0 3.5px;
  padding: 3.75px 0px;
}

main {
  margin-top: 100px;
  margin-right: 100px;
}

.standard_blocks {
  border-top: 1px solid var(--green);
  width: 100%;
  color: var(--text-color);
}
.standard_blocks h2 {
  color: #fff;
  text-shadow: 0 0 1rem #7ed4d4, 0 0 1rem #7ed4d4;
  font-size: 40px;
  margin: 24px 0 26px;
  padding: 30px 0 0;
}
.standard_blocks p {
  font-size: 22px;
  margin: 0 0 88px;
}
.standard_blocks span {
  background: #DAEDE933;
  width: fit-content;
}

.article_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.article_title h2 {
  font-size: 24px;
}

.article .row {
  gap: 40px;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #a3a4a6 transparent;
  position: relative;
}

.arrow:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.5em;
  height: 1.5em;
  transform: translate(-50%, -30%);
  border: 1px solid var(--green);
  border-radius: 0.25em;
  transition: box-shadow 0.2s ease-out;
}

.arrow:hover:before {
  border-color: white;
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}

.yellow_background {
  background-image: linear-gradient(45deg, #BDB885 0%, #DFD29C 100%);
  padding: 2em 0.75em 0em;
  color: #533F2D;
  box-shadow: inset 0 1.5em 0 rgba(0, 0, 0, 0.05);
  height: fit-content;
  font-weight: 300;
}
.yellow_background p {
  font-size: 16px;
  margin: 0 10px 10px;
}
.yellow_background span {
  font-weight: bold;
  font-size: 16px;
}

.black_background {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--black);
  line-height: 1.4;
  padding: 1em;
  border-radius: 0.375em;
  cursor: help;
  position: relative;
  transition: box-shadow 0.2s ease-out;
  border-radius: 0.1875em;
  flex: 1 0;
  min-width: 65%;
}
.black_background * {
  border: 2px dashed var(--green);
  padding: 0.5rem;
  margin: 0.75rem;
  cursor: help;
  transition: box-shadow 0.2s ease-out;
  border-radius: 0.1875em;
  flex: 1 0;
}
.black_background .breadcrumb__list, .black_background .button {
  flex-wrap: wrap;
  flex-direction: row;
}
.black_background .breadcrumb__item {
  flex: 1 0;
  min-width: 40%;
  max-width: 40%;
}

.size {
  max-width: 535px;
}

.button__prepend, .button__body, .button__append, .button {
  height: fit-content;
  width: fit-content;
}

.card img {
  margin: 12px;
  border: none;
}
.card .card__header h2 {
  font-size: 24px;
  margin: 12px;
  padding: 8px;
  border: none;
}
.card .card__header h3 {
  font-size: 16px;
  margin: 12px;
  padding: 8px;
  border: none;
}
.card .card__body p {
  font-size: 14px;
  margin: 12px;
  padding: 8px;
  border: none;
}
.card .card__footer span {
  font-size: 16px;
  margin: 12px;
  padding: 8px;
  border: none;
}

*[class*=breadcrumb] {
  position: relative;
}

*[class*=button] {
  position: relative;
}

*[class*=card] {
  position: relative;
}

*[class*=breadcrumb]:hover {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
  outline: none;
}
*[class*=breadcrumb]:hover::before {
  opacity: 1;
}

*[class*=button]:hover {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
  outline: none;
}
*[class*=button]:hover::before {
  opacity: 1;
}

*[class*=card]:hover {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
  outline: none;
}
*[class*=card]:hover::before {
  opacity: 1;
}

*[class*=breadcrumb]:after {
  font-family: "Fira Sans", Tahoma, sans-serif;
  content: attr(class);
  position: absolute;
  left: 0.5em;
  top: -0.875em;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  padding: 0.25em 0.5em;
  font-weight: normal;
  color: var(--turquoise);
  white-space: nowrap;
  background: var(--black);
  text-transform: none;
  line-height: 1;
  box-sizing: border-box;
}

*[class*=button]:after {
  font-family: "Fira Sans", Tahoma, sans-serif;
  content: attr(class);
  position: absolute;
  left: 0.5em;
  top: -0.875em;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  padding: 0.25em 0.5em;
  font-weight: normal;
  color: var(--turquoise);
  white-space: nowrap;
  background: var(--black);
  text-transform: none;
  line-height: 1;
  box-sizing: border-box;
}

*[class*=card]:after {
  font-family: "Fira Sans", Tahoma, sans-serif;
  content: attr(class);
  position: absolute;
  left: 0.5em;
  top: -0.875em;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  padding: 0.25em 0.5em;
  font-weight: normal;
  color: var(--turquoise);
  white-space: nowrap;
  background: var(--black);
  text-transform: none;
  line-height: 1;
  box-sizing: border-box;
}

*[class*=breadcrumb]:before {
  content: attr(class);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: white;
  color: slategrey;
  font-size: 2rem;
  border-radius: 20px;
  opacity: 0;
  z-index: 1;
}

*[class*=button]:before {
  content: attr(class);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: white;
  color: slategrey;
  font-size: 2rem;
  border-radius: 20px;
  opacity: 0;
  z-index: 1;
}

*[class*=card]:before {
  content: attr(class);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: white;
  color: slategrey;
  font-size: 2rem;
  border-radius: 20px;
  opacity: 0;
  z-index: 1;
}

@media (max-width: 990px) {
  .article .row {
    flex-direction: column;
  }

  .card .row .black_background .breadcrumb .breadcrumb__list {
    gap: 10px;
    display: flex;
    flex-direction: row;
  }

  .card .row .black_background .breadcrumb__list {
    gap: 10px;
    display: flex;
    flex-direction: row;
  }

  .black_background .breadcrumb__item {
    min-width: 25%;
    max-width: 25%;
  }
}
@media (max-width: 920px) {
  .main_layout {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  aside {
    position: relative;
  }

  .standard_blocks {
    border-top: none;
  }
}

/*# sourceMappingURL=style.css.map */
