.footer {
    min-height: 300px;
    background: url(../images/moon-surface.svg) center bottom no-repeat;
    background-size: 117.5em 11.875em;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFF;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0;
    position: sticky;
    margin: 6em -1.5em -1.5em;
    perspective: 50em;
}

.footer:before {
    content: "";
    position: absolute;
    width: 17.8125em;
    height: 18em;
    background: url(../images/astronaut-side-view.svg);
    left: 50%;
    bottom: 3em;
    transform: translateX(-8em);
}

.company-link {
    border: 1px solid var(--turquoise);
    font-size: 1rem;
    display: block;
    margin: 0 auto auto;
    padding: 1em;
    width: 14em;
    color: var(--green);
    text-decoration: none;
    background: black;
    position: relative;
    box-sizing: border-box;
}

.company-link svg {
    transition: all 0.3s ease-out;
}