@import "mixin";

*:not(head, table, tbody, tfoot, thead, tr, td, th, script, p, a, span, code),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    font-size: 62.5%;
  }
  
  body {
    flex: 1 0;
    font-size: 1.6rem;
    background: linear-gradient( 20deg, var(--black), var(--dark-green));
    background-attachment: fixed;
  }
  
  html,
  body {
    overflow: auto;
  }
  
  *[class*="adaptive-img"] {
    position: relative;
  }
  
  *[class*="adaptive-img"] > span,
  *[class*="adaptive-img"] > span > img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    border: none;
    display: block;
    position: absolute;
    box-sizing: border-box;
  }
  
  *[class*="adaptive-img"] > span {
    margin: 0;
    opacity: 1;
    width: initial;
    height: initial;
    overflow: hidden;
    background: none;
  }
  
  *[class*="adaptive-img"] > span > img {
    width: 0;
    height: 0;
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
  
  .adaptive-img--cover > span > img {
    object-fit: cover;
  }
  
  .adaptive-img--contain > span > img {
    object-fit: contain;
  }

  body {
    font-size: 1.8rem;
    font-family: "Fira Sans", sans-serif;
  }
  
  .container {
    width: 100%;
    margin: auto;
    padding: 0 24px;
    max-width: 1400px;
  }
  
  .row {
    @include row;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: "Audiowide", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: var(--turquoise);
    @include hover-effect;
  }

  a:hover {
    color: white;
    text-shadow: 0 0 0.5em var(--turquoise);
}


  
  p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

  :root {
    --text-color: #DAEDE9;
    --black: black;
    --dark-green: #074d50;
    --turquoise: #14E7C6;
    --green: #1D635C;

    }

    ::selection {
        background-color: #f09;
        color: #fff;
    }


    