@import "mixin";

.header {
    @include center;
}

.title {
    @include center;
    background: url(../images/moon.svg) center center no-repeat;
    background-size: auto 100%;
    padding: 4em 0;

    h1 {
    @include title-effect;
    font-size: 8.375em;
    letter-spacing: 0.11em;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    }

    span {
    font-weight: 300;
    color: var(--turquoise);
    font-size: 2.3em;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: 0.34em;
    }

}

.empty {
    min-width: 302.3px;
}

.astronaut {
    margin: 0 calc(1em + 5vw) 2.5em;
    position: relative;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 50em;
    transform: all 1s;
    animation: all 1s ease-out;
}

.intro {
    max-width: 80%;
    color: var(--text-color);
    text-align: center;
    line-height: 1.5;
    font-size: 2.2rem;
    margin: 0 0 11px;

    a {
        margin: 0;
        padding: 0;
        border: 0;
    }

    p {
        margin: 20px 0 0;
    }

}

@media (max-width: 735px) {
    .title {
        max-width: 33%;
        padding: 1em 0;
        background-size: auto 100%;

        h1 {
            font-size: 100px;
        }

        span {
            font-size: 20px;
        }
    }

    .intro {
        font-size: 1em;
    }
}

@media (max-width: 591px) {
    
        .title {
            max-width: 33%;
            padding: 1em 0;
            background-size: auto 100%;
    
            h1 {
                font-size: 60px;
            }
    
            span {
                font-size: 10px;
            }
        }

        .intro {
            font-size: 1em;
        }
    }


    @media (max-width: 300px) {
    
        .title {
            max-width: 33%;
            padding: 1em 0;
            background-size: auto 100%;
    
            h1 {
                font-size: 60px;
            }
    
            span {
                font-size: 8px;
            }
        }

        .intro {
            font-size: 0.8em;
        }
    }

@media screen and (min-width: 46em) {
    .astronaut {
    background: url(../images/cable.svg) left top 3.5em no-repeat;
    background-size: calc(100% - 3em) 3.5em;
    width: 8em;
    height: 12.58em;
    flex-grow: 1;
    will-change: transform;
    transform-origin: left center;
    animation: float 24s ease-in-out infinite;
    z-index: 2;

}

    .astronaut:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 10em;
        height: 100%;
        animation: rotate 8s ease-in-out alternate infinite;
        background: url(../images/astronaut.svg) right center no-repeat;
        background-size: 100% auto;

}
}

// changes from test branch (Ծ‸ Ծ)