aside {
    height: calc(100vh - 3em);
    position: sticky;
    top: 1.5em;
    overflow: auto;
    padding: 1.5em 1.5em 0;
    flex-basis: 16em;
    flex-shrink: 0;
    border: 1px solid var(--green);
    margin: 0 1.5em;

    h3 a {
        color: var(--text-color);
        font-family: "Fira Sans";
        font-size: 15px;
        margin: 0 0 3.75px;
        padding: 4px 0;
    }

    ul {
        margin: 0 0 28px;
    }

    ul li a {
        color: var(--turquoise);
        font-size: 14px;
        margin: 0 0 3.5px;
        padding: 3.75px 0px;
    }
}

main {
    margin-top: 100px;
    margin-right: 100px;
}

.standard_blocks {
    border-top: 1px solid var(--green);
    width: 100%;
    color: var(--text-color);


    h2 {
        @include title-effect;
        font-size: 40px;
        margin: 24px 0 26px;
        padding: 30px 0 0;
    }

    p {
        font-size: 22px;
        margin: 0 0 88px;
    }

    span {
        background: #DAEDE933;
        width: fit-content;
    }
}

.article_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    h2 {
        font-size: 24px;
    }
}

.article .row {
    gap: 40px;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #a3a4a6 transparent;
    position: relative;
}

.arrow:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: translate(-50%, -30%);
    border: 1px solid var(--green);
    border-radius: 0.25em;
    transition: box-shadow 0.2s ease-out;
}

.arrow:hover:before {
    border-color: white;
    box-shadow: 0 0 0.25em var(--turquoise),inset 0 0 0.25em var(--turquoise);
}

.yellow_background {

    background-image: linear-gradient( 45deg, #BDB885 0%, #DFD29C 100%);
    padding: 2em 0.75em 0em;
    color: #533F2D;
    box-shadow: inset 0 1.5em 0 rgb(0 0 0 / 5%);
    height: fit-content;
    font-weight: 300;
    
    p {
        font-size: 16px;
        margin: 0 10px 10px;
    }

    span {
        font-weight: bold;
        font-size: 16px;
    }
}

.black_background {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--black);
    line-height: 1.4;
    padding: 1em;
    border-radius: 0.375em;
    cursor: help;
    position: relative;
    transition: box-shadow 0.2s ease-out;
    border-radius: 0.1875em;
    flex: 1 0;
    min-width: 65%;


        * {
            border: 2px dashed var(--green);
            padding: 0.5rem;
            margin: 0.75rem;
            cursor: help;
            transition: box-shadow 0.2s ease-out;
            border-radius: 0.1875em;
            flex: 1 0;

    }

    .breadcrumb__list, .button {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .breadcrumb__item {
        flex: 1 0;
        min-width: 40%;
        max-width: 40%;

    }

}

.size {
    max-width: 535px;
}

.button__prepend,  .button__body, .button__append, .button {
    height: fit-content;
    width:fit-content;
}

.card {
    
    img {
        margin: 12px;
        border: none;
    }
    
    .card__header {
        h2 {
            font-size: 24px;
            margin: 12px;
            padding: 8px;
            border: none;
        }

        h3 {
            font-size: 16px;
            margin: 12px;
            padding: 8px;
            border: none;
        }
    }

    .card__body {
        p {
            font-size: 14px;
            margin: 12px;
            padding: 8px;
            border: none;
        }
    }

    .card__footer {
        span {
            font-size: 16px;
            margin: 12px;
            padding: 8px;
            border: none;
        }
    }
}

*[class*="breadcrumb"] {
    position: relative;
}

*[class*="button"] {
    position: relative;
}

*[class*="card"] {
    position: relative;
}

*[class*="breadcrumb"]:hover {
    @include hover-border;
}

*[class*="button"]:hover {
    @include hover-border;
}

*[class*="card"]:hover {
    @include hover-border;
}


*[class*="breadcrumb"]:after {
            @include after-border;
        }

*[class*="button"]:after {
            @include after-border;
        }

*[class*="card"]:after {
            @include after-border;
        }

*[class*="breadcrumb"]:before {
            @include before-border;
        }

*[class*="button"]:before {
            @include before-border;
        }

*[class*="card"]:before {
            @include before-border;
        }

        @media (max-width: 990px) {
            .article .row {
                flex-direction: column;
               
            }

            .card .row .black_background .breadcrumb .breadcrumb__list {
                gap: 10px;
                display: flex;
                flex-direction: row;

            }

            .card .row .black_background .breadcrumb__list {
                gap: 10px;
                display: flex;
                flex-direction: row;

            }

            .black_background .breadcrumb__item {
                min-width: 25%;
                max-width: 25%;
            }

        }
        
        @media (max-width: 920px) {
            .main_layout {
                display: flex;
                flex-direction: column;
                margin-left: 50px;
                
            }

            aside {
                position: relative;
                
            }

            .standard_blocks {
                border-top: none;
            }

        }
