@mixin center {
    align-items: center;
    justify-content: center;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin title-effect {
    color: #fff;
    text-shadow: 0 0 1rem #7ed4d4, 0 0 1rem #7ed4d4;
}

@mixin hover-effect {
    transition: text-shadow 0.2s ease-out;
}

@mixin hover-border {
    border-style: solid;
    border-color: var(--turquoise);
    box-shadow: 0 0 0.25em var(--turquoise),inset 0 0 0.25em var(--turquoise);
    outline: none;

    &::before {
        opacity: 1;
    }
}

@mixin after-border {
            font-family: "Fira Sans", Tahoma, sans-serif;
            content: attr(class);
            position: absolute;
            left: 0.5em;
            top: -0.875em;
            font-size: 0.8rem;
            letter-spacing: 0.1em;
            padding: 0.25em 0.5em;
            font-weight: normal;
            color: var(--turquoise);
            white-space: nowrap;
            background: var(--black);
            text-transform: none;
            line-height: 1;
            box-sizing: border-box;
}

@mixin before-border {
            content: attr(class);
            position:fixed;
            top: 20px;
            left: 50%;
            transform:translateX(-50%);
            padding: 10px 20px;
            background-color: white;
            color:slategrey;
            font-size: 2rem;
            border-radius: 20px;
            opacity: 0;
            z-index: 1;
}